streamlit==1.22.0
transformers==4.28.1
spacy==3.5.2
en-core-web-sm @ https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0-py3-none-any.whl
torch==2.0.0
