streamlit==1.22.0
transformers==4.28.1
spacy>=3.5.0,<3.6.0
https://github.com/explosion/spacy-models/releases/download/en_core_web_sm-3.5.0/en_core_web_sm-3.5.0.tar.gz
torch>=2.0.0,<2.1.0
pydantic>=2.0,<3.0
typer>=0.12,<1.0
thinc>=8.1.0,<8.2.0
